<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  
  <title>To Do List</title>
  <link rel="stylesheet" href="css/styles.css">
  
</head>

<body>
<pre style="font-weight: 100; margin-left: 35%; color:darkgray;">*to make new list make path using your wanted list for ex.(/workout)
*click on box to delete Item</pre>
